html {
  font-family: "Noto Serif", serif;
}

form {
  border-color: #70ad55;
}

.top {
  background-color: #70ad55;
  color: #fff;
}

.green {
  color: #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-color: #70ad55;
}

.footer {
  background-color: #70ad55;
  color: #fff;
}

hr {
  color: #70ad55;
  border-color: #6e8c62;
}

fieldset {
  border-color: #70ad55;
}

textarea {
  height: 200px;
}

.right {
  padding-right: .5rem;
}

.left {
  padding-left: .5rem;
}
