html {
  font-family: "Noto Serif", serif;
}

form {
  border-color: #70ad55;
}

.top {
  background-color: #70ad55;
  color: #fff;
}

.green {
  color: #6e8c62;
}

.btn {
  background-color: #6e8c62;
  border-color: #70ad55;
}

.footer {
  background-color: #70ad55;
  color: #fff;
}
